@import "tailwindcss";
@plugin "daisyui";

#root {
  max-width: 100%;
  margin: 0 ;
  padding: 0;
  text-align: center;
}
body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;

}
html {
    --s: 78px; /* control the size*/
    --c1: #3fb3e2;
    --c2: #4d2c72;

    --_g: radial-gradient(25% 25% at 25% 25%,var(--c1) 99%,#0000 101%);
    background:
            var(--_g) var(--s) var(--s)/calc(2*var(--s)) calc(2*var(--s)),
            var(--_g) 0 0/calc(2*var(--s)) calc(2*var(--s)),
            radial-gradient(50% 50%,var(--c2) 98%,#0000) 0 0/var(--s) var(--s),
            repeating-conic-gradient(var(--c2) 0 25%,var(--c1) 0 50%)
            calc(.5*var(--s)) 0/calc(2*var(--s)) var(--s);
}
.titan-one-regular {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.shrikhand-regular {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.list-Input {
  width: 100%;
  min-height: 6rem;
  background-color: #bdbaba;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  font-weight: 700;
  color: #404241;
}

.list-Input::placeholder {
  color: grey;
  font-weight: 700;
}

